<ion-view title="Explore">
  <ion-content class="padding">
    <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(card)" on-swipe-right="cardSwipedRight(card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{card.index}}" ng-controller="CardCtrl">

        <div class="list card">


          <div class="image">
            <img ng-src="{{card.smallImageUrls | largerimages}}">
          </div>
          <div class="item">
            <h4>{{card.attributes.course[0]}}</h4>
            <p>{{card.recipeName}}</p>
          </div>

        </div>
        </td-card>
      </td-cards>
  </ion-content>
</ion-view>
